* text=auto
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.hlsl text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=crlf
assets/runtime/** filter=lfs diff=lfs merge=lfs -text

